@using Microsoft.AspNetCore.Http
@using OkooneBlogger.Helpers
@using Kendo.Mvc.UI

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";

    var authName = HttpContextAccessor.HttpContext.Session.GetString(OkooneConstants.AUTH_USERNAME);

}

<br />
<h2 style="text-align: center">Welcome - <b>@authName.ToUpper()</b></h2>

<hr />
<div class="quick-section k-content center">
    @(Html.Kendo().ButtonGroup()
                          .Name("quick-links")
                          .Items(t =>
                          {
                              t.Add().Text("Create Article").HtmlAttributes(new { id = "btnCreateArticle" });
                              t.Add().Text("Create User").HtmlAttributes(new { id = "btnCreateUser" }); ;
                              t.Add().Text("View WebApi").HtmlAttributes(new { id = "btnViewWebApi" }); ;
                          })
    )
</div>

<style>
    .quick-section {
        text-align: center;
    }
</style>

<script>

    $(document).ready(function () {

        $("#btnCreateArticle").click(function () {
            window.location.assign("/Articles/Create");
        });

        $("#btnCreateUser").click(function () {
            window.location.assign("/Users/Create");
        });

        $("#btnViewWebApi").click(function () {
            window.location.assign("/WebApi");
        });
    })
</script>