@using Microsoft.AspNetCore.Http
@using OkooneBlogger.Helpers
@model object
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";

    var authName = HttpContextAccessor.HttpContext.Session.GetString(OkooneConstants.AUTH_USERNAME);

}

<h2>Admin</h2>

<br />

<h1>@authName</h1>
