@using Microsoft.AspNetCore.Http
@using OkooneBlogger.Helpers
@model object
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";

    var authName = HttpContextAccessor.HttpContext.Session.GetString(OkooneConstants.AUTH_USERNAME);

}


<h2 style="text-align: center">Welcome</h2>