@using Microsoft.AspNetCore.Http
@using OkooneBlogger.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    var authName = HttpContextAccessor.HttpContext.Session.GetString(OkooneConstants.AUTH_USERNAME);
}

<div class="row">
    <div class="col-xs-12 col-md-12">

        @if (!string.IsNullOrEmpty(authName))
        {
            <h1 style="text-align: center">Administrator Homepage</h1>
            <a href="/Admin" style="text-align: center">Go Admin</a>
        }
        else
        {
            <h1 style="text-align: center">Blog Homepage</h1>
        }
    </div>
</div>