@model OkooneBlogger.Models.Article

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                @(Html.Kendo().TextBoxFor(a => a.Title)
                      .HtmlAttributes(new { @value = ViewBag.Title })
                      )
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @(Html.Kendo().EditorFor(a => a.Description)
                      .HtmlAttributes(new { style = "height:440px", aria_label = "editor" })
                      .Resizable(resizable => resizable.Content(true).Toolbar(true))
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/shared/UserFiles/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                      )
                      .Value(@<text>
                                ViewBag.Description
                              </text>)
                      )
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                @(Html.Kendo().DateTimePickerFor(a => a.Date)
                      .Value(DateTime.Now)
                      .HtmlAttributes(new { style = "width: 100%", title = "Date" })
                      .DateInput())
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @(Html.Kendo().Button()
                      .Name("btnSave")
                      .HtmlAttributes(new { type = "submit", @class = "k-primary" })
                      .Content("Save")
                      )
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

